* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.chicken h2 {
  background-color: #d59898;
}
.beef h2 {
  background-color: #c14543;
}
.sushi h2 {
  background-color: #e5d198;
}

section {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  gap: 50px;
}

h1 {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 20px;
}

h2 {
  display: flex;
  text-align: center;
  padding: 2px 50px;
  align-items: flex-start;
  border: 1px solid black;
}

h4 {
  text-align: left;
  margin: 15px 20px 5px 5px;
}

.chicken,
.beef,
.sushi {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  background-color: #999999;
  border: 2px solid black;
  text-align: right;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  section {
    flex-wrap:wrap;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  section {
    flex-direction: column;
  }
}
